.hello {
    align-items: center;
    background-color: red;
    height: 480px;
    border-radius: 25px;
    border: solid 1px black;
}

.hello .hello-header {
    font-family: Arial;
    text-align: center;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 65px;
}

p {
    text-transform: lowercase;
    font-size: 30px
}

.hello-body {
    background-color: white;
    height: 175px;
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 100px;
    padding-top: 50px;
}