.menu {
    list-style: none;
}

.menu .menuitem {
    display: inline;
    font-size: 1.3em;
    background-color: lightgrey;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: black 1px solid;
    opacity: 0.5;
    transition-property: background-color, border-bottom, opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.menu .menuitem:hover {
    background-color: lightblue;
    border-bottom: darkblue 1px solid;
    opacity: 1.0;
}

